## 2025-09-19

In [47]:
print("안녕 이제 파이썬을 시작하려고 해")

안녕 이제 파이썬을 시작하려고 해

In [48]:
print(10+10)

20

In [49]:
type('Hello World')

str

In [50]:
type('100')

str

In [51]:
type(True)

bool

In [52]:
type(3.14)

float

## 변수

In [53]:
mynumber = 100

In [54]:
mynumber

100

In [55]:
type(mynumber)

int

#### 연산자

In [ ]:
+, -, *, /, //, %, **

In [ ]:
num1 = 7
num2 = 3

In [ ]:
num1 + num2

10

In [ ]:
num1 / num2

2.3333333333333335

In [ ]:
num1 // num2

2

In [ ]:
num1 % num2

1

In [ ]:
num1 ** num2

343

In [58]:
str1 = "Hello"
str2 = "World"

In [61]:
str1 + str2

'HelloWorld'

#### 비교연산자

In [ ]:
같다, 다르다, 크다, 작다
==, !=, >, <, >=, <=

In [63]:
5 == 3

False

In [ ]:
str1 = "Hello"
str2 = "World"

In [65]:
print(str1 + " " + str2)

Hello World

In [67]:
print(str1, str2, str1, str1)

Hello World Hello Hello

#### 사용자입력

In [74]:
name = input("이름을 입력하세요:")
print("이름은", name, "입니다")

이름은 황선우 입니다

In [ ]:
num1 = 7
num2 = 3

In [ ]:
# 미션
# 사용자로부터 숫자 입력을 받아서 +, -. *. / 연산 결과를 출력해주세요.

In [75]:
num1 = input("첫 번째 숫자를 입력하세요")
num2 = input("두 번재 숫자를 입력하세요")

In [77]:
num1 + num2

'73'

In [80]:
type(num1)

str

In [81]:
type(num2)

str

#### 형변환

In [ ]:
int(), float(), str(),

In [82]:
int('7')

7

In [85]:
num1 = int(input("첫 번재 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))

In [87]:
print(num1-num2)

4

In [ ]:
mynumber
my_number
myNumber

In [90]:
print('"안녕"이라고 말했다')
print("순간'바본가'라고 생각했다.")
print("\"안녕\"이라고말했다.")

"안녕"이라고 말했다
순간'바본가'라고 생각했다.
"안녕"이라고말했다.

In [91]:
sentense = """
안녕
반가워
추워
"""

In [92]:
print(sentense)

안녕
반가워
추워

In [94]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [102]:
print("Hello","Hello","Hello","Hello","Hello", end=" ", sep=",")

Hello,Hello,Hello,Hello,Hello

In [96]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [104]:
# f-string
num1 = 7
num2 = 3

print(num1, "+", num2, "=", num1 + num2)
print(f"{num1} + {num2} = {num1+num2}")

7 + 3 = 10
7 + 3 = 10

#### bool 자료형

In [ ]:
True 참, False 거짓

In [107]:
1 == 1

True

In [108]:
type(True)

bool

In [109]:
print(type(True))

<class 'bool'>

In [ ]:
int(), str(), float(), bool()

In [112]:
bool(0)

False

In [113]:
bool(1)

True

In [114]:
bool(100)

True

In [115]:
bool(-1)

True

In [116]:
bool('')

False

In [118]:
김밥_가격 = 3000
떡볶이_가격 = 3500
라면_가격 = 2500

In [119]:
김밥_주문수 = int(input("김밥 주문개수: "))
떡볶이_주문수 = int(input("떡볶이 주문개수: "))
라면_주문수 = int(input("라면 주문개수: "))

In [120]:
# 총 금액 계산
총_금액 = (김밥_가격 * 김밥_주문수) + (떡볶이_가격 * 떡볶이_주문수) + (라면_가격 * 라면_주문수)

In [121]:
# 결과 출력
print(f"김밥 주문개수 : {김밥_주문수}")
print(f"떡볶이 주문개수 : {떡볶이_주문수}")
print(f"라면 주문개수 : {라면_주문수}")
print(f"지불하실 금액은 {총_금액}원입니다.")

김밥 주문개수 : 2
떡볶이 주문개수 : 1
라면 주문개수 : 2
지불하실 금액은 14500원입니다.

In [ ]:
print("Hello")
print("Hello")
print("아 졸려")
print("Hello")

#### 조건문

In [ ]:
# 조건에 따라서 명렁어의 실행여부가 결정

if 조건:
    실행할명령

조건문밖의 명령어

In [128]:
money = False

if money: 
    print("스테이크를 먹는다")
    print("커피를 마신다")
print("택시도 탄다")
print('조건문종료')

택시도 탄다
조건문종료

In [ ]:
if 조건 :
    수행할명령
else:
    다른명령

In [ ]:
if 조건:
    수행할명령
elif 조건2:
    수행할명령2
elif 조건3:
    수행할명령...
else :
    나머지에대한명령

In [130]:
# 짝수홀수구분

# num % 2 == 0 -> 짝수

num = 2

if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

짝수

In [131]:
num = 10


if num > 100:
    print('너무커요')
else:
    print('작아요')

작아요

In [ ]:
and, or

In [133]:
eng = 80
math = 100

if eng >=90 or math >= 90:
    print('스티커')
else: 
    print('좀 더 노력하세요')

스티커

In [142]:
# 사용자로부터 숫자를 입력받아 정수로 변환
num = int(input('숫자를 입력하세요: '))

# 숫자가 짝수인지 홀수인지 판별
if (num % 2) == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

ValueError: invalid literal for int() with base 10: ''

In [139]:
score = int(input("점수를 입력하세요: "))

# 점수에 따라 학점을 판별합니다.
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

C

#### 반복문

for, while

In [ ]:
for 변수 in 이터러블 :
    반복할문장

In [147]:
for i in range(1, 10 +1, 2): # start, end, step
    print(f"{i}번째 Hello")

1번째 Hello
3번째 Hello
5번째 Hello
7번째 Hello
9번째 Hello

In [154]:
#for 반복문과 range()함수를 사용해서 1부터 10까지의 합을 출력해주세요.
sum = 0
for i in range(1, 11):
   # print(i)
    sum = sum + i
print(sum)

55

In [155]:
# for 반복문과 range()함수를 사용해서 1부터 10까지의 곱을 출력해주세요!
# 1부터 10까지의 곱을 저장할 변수를 1로 초기화합니다.
total_multiply = 1

# range(1, 11)은 1부터 10까지의 숫자를 만들어냅니다.
for number in range(1, 11):
    total_multiply = total_multiply * number
    
# 최종 곱셈 결과 출력
print(f"1부터 10까지의 곱: {total_multiply}")

1부터 10까지의 곱: 3628800

In [ ]:
while 조건 : 
    반복할문장들

In [157]:
# print('Hello') 5번만 출력

i = 1
while i <= 5:
    print(f"{i}번째 Hello")
    i = i + 1 #

1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello

In [163]:
# while문을 이용해서 1부터 사용자로부터 입력받은 정수값까지의 합을 구해주세요.
end_num = int(input("정수를입력하세요: "))
total_sum = 0
i = 1

# i가 end_num보다 작거나 같을 때까지 반복
while i <= end_num:
    total_sum += i
    i += 1
    
print(f"1부터 {end_num}까지의 합: {total_sum}")

1부터 15까지의 합: 120

In [165]:
# while문을 이용해서 1부터 사용자로부터 입력받은 정수값까지의 곱을 구해주세요.
end_num = int(input("정수를입력하세요: "))
total_multiply = 1
i = 1

while i <= end_num:
    total_multiply *= i
    i += 1
print(f"1부터 {end_num}까지의 곱: {total_multiply}")

1부터 10까지의 곱: 3628800

In [166]:
#while문을 사용해서 사용자로부터 입력받은 숫자에 해당하는 구구단을 출력해주세요!

a = int(input())
i = 1
while i <= 9:
    print(f"{a} * {i} = {a*i}")
    i+=1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

#### break, continue