## 2025-09-23

In [2]:
a = 1
def vartest(a):
    a = a + 1

vartest(a)
print(a)

1

In [2]:
a = 1

def vartest():
    global a  # 함수 안에서 'a'가 전역 변수임을 알려줍니다.
    a = a + 1

vartest()
print(a)

2

In [3]:
def say_myself(name, age, man=True):
    print(f'{name}, {age}')
    print(man)

In [4]:
say_myself('jimin', 29, False)

jimin, 29
False

In [10]:
## 내장 함수를 활용한 예제
# zip

# 
r = (52, 255, 39, 132)
g = (19, 0, 227, 132)
b = (52, 255, 39, 137)

img = list(zip(r, g, b))
print(img)\

print(img[0])
print(type(img[0]))

[(52, 19, 52), (255, 0, 255), (39, 227, 39), (132, 132, 137)]
(52, 19, 52)
<class 'tuple'>

In [ ]:
f = ('apple', 'banana', 'cherry', 'date')

In [2]:
enumerate(f)

In [3]:
dict(enumerate(f))

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'date'}

In [4]:
mylist = [ 1, 2, 3, 4, 5]
# -> [2, 3, 4, 5, 6]

In [5]:
result = []
for i in mylist:
    result.append(i + 1)

print(result)

[2, 3, 4, 5, 6]

In [9]:
mylist = [ 1, 2, 3, 4, 5]

def add_one(n):
    return n + 1

result = list(map(add_one,mylist))
result

[2, 3, 4, 5, 6]

In [ ]:
for i in range(len(mylist)):
    add_one(mylist[i])

In [10]:
mylist = [ 3.14, -5.6, 100.4, 25.0]

result = list(map(round,mylist))
result

[3, -6, 100, 25]

In [11]:
a = [8, 3, 2, 10, 15, 7, 1, 0, 11]

In [12]:
def f(x):
    return x > 5 and x < 10

In [13]:
list(filter(f, a))

[8, 7]

In [ ]:
result = []
for i in a:
    if i > 5 and i <10:
        result.append(i)

result

In [16]:
# 람다 함수의 사용 예
# map: 시퀀스의 각 요소에 함수를 적용하여 새로운 시퀀스를 반환.

numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16]

In [17]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2==0, numbers))
print(even_numbers)

[2, 4, 6]

In [18]:
numbers.sort(reverse=True)
numbers

[6, 5, 4, 3, 2, 1]

In [19]:
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
my_numbers = sorted(numbers, reverse=True)

In [21]:
numbers

[1, 2, 3, 4, 5, 6]

In [22]:
my_numbers

[6, 5, 4, 3, 2, 1]

In [24]:
fruits = ['apple', 'banana', 'cherry', 'date']

In [25]:
myfruits = sorted(fruits,key=len)
myfruits

['date', 'apple', 'banana', 'cherry']

In [27]:
points = [(1, 2), (3, 4), (5, 1)]
sorted_points = sorted(points, key=lambda x: x[1])
print(sorted_points)

[(5, 1), (1, 2), (3, 4)]

In [ ]:
[(5, 1),(1, 2),(3, 4)]

In [ ]:
등수 구하기

# 영어 점수와 수학 점수의 평균점수를 기준으로 학생들의 등수를 매기려고합니다.
# 영어 점수와 수학 점수를 담은 2차원 리시트 score가 주어질 때, 영어 점수와 수학 점수의 평균을
# 기준으로 매긴 등수를 담은 리스트를 return하도록 함수를 만들어주세요.
[[80, 70], [90, 50], [40, 70], [50, 80]] -> [1, 2, 4, 3]
[[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]] -> [4, 4, 6, 2, 2, 1, 7]


def rank(score):
    pass

In [33]:
score1 = [[80, 70], [90, 50], [40, 70], [50, 80]]
rank(score2) # [1, 2, ,4 ,3]

score2 = [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]]
rank(score2) # [4, 4, 6, 2, 2, 1, 7]


def rank(score):
    # 1. 평균값을 가진 리스트를 만듭니다.
    avg = [sum(s) / 2 for s in score]

    # 2. 평균값을 내림차순으로 정렬합니다.
    avg_sort = sorted(avg, reverse=True)
    
    # 3. 각 학생의 등수를 계산하고 result 리스트에 추가합니다.
    result = []
    for i in avg:
        # i의 등수는 i보다 큰 점수들의 개수 + 1 입니다.
        rank_count = 0
        for sorted_avg in avg_sort:
            if i < sorted_avg:
                rank_count += 1
            else:
                break
        result.append(rank_count + 1)
        
    return result

In [34]:
def rank(score):
    # 1. 각 학생의 평균 점수를 계산합니다.
    averages = [sum(s) / 2 for s in score]

    # 2. 평균 점수를 내림차순으로 정렬하여 등수 기준을 만듭니다.
    sorted_averages = sorted(averages, reverse=True)

    # 3. 원래 순서대로 등수를 계산하여 리스트에 저장합니다.
    ranks = []
    for avg in averages:
        current_rank = 0
        for sorted_avg in sorted_averages:
            if avg < sorted_avg:
                current_rank += 1
            else:
                break
        ranks.append(current_rank + 1)
        
    return ranks

In [35]:
def rank(score):
    avg = [(i+j)/2 for i, j in score]
    avg_sort = sorted(avg,reverse=True)
    result = [avg_sort.index(i) + 1 for i in avg]
    return result

In [ ]:
소수판별함수 is_prime()
[2,3,4,5,6,7,8,9] -> [True, True, False, True, False, True, False, False]

In [47]:
num_list = [2,3,4,5,6,7,8,9]

def is_prime(num_list):
    result = []
    for num in num_lsit:
        isprime = True
        for i in range(2, num):
            if num % i == 0:
                isprime = False
                break
        result.append(isprime)
    return result

In [ ]:
print(is_prime(num_list))

In [50]:
# 1. 원본 리스트 정의
num_list = [2, 3, 4, 5, 6, 7, 8, 9]

# 2. 소수 판별 함수 정의
def is_prime(num_list):
    result = []
    # 오타 수정: num_lsit -> num_list
    for num in num_list:
        isprime = True
        # 4는 2로 나눠지니까 2까지만 돌게 됩니다.
        for i in range(2, num):
            if num % i == 0:
                isprime = False
                break
        result.append(isprime)
    return result

# 3. 함수 호출 및 결과 출력
print(is_prime(num_list))

[True, True, False, True, False, True, False, False]

In [52]:
import random

In [53]:
random.randint(1, 100)

32

In [54]:
import random as r

In [55]:
r.randint(1, 100)

99

In [57]:
from random import randint


randint(1, 100)
random.randrange(1, 5)

4

In [58]:
#### 모듈과 함수
# 행운번호 추첨기(무작위 생성된 6개의 숫자 출력)
import random

# 1부터 45까지의 숫자 중에서 6개를 무작위로 추출
result = random.sample(range(1, 46), 6)

# 추출된 숫자들을 출력
print(result)

[40, 42, 25, 3, 10, 36]

### 사용자정의모듈

In [71]:
import mymodule as mm

In [72]:
print(mm.my_add(7,3))
print(mm.my_sub(6,4))

10
2

### 클래스

In [83]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def walk(self):
        print(f'{self.name}이 걸어가요')

In [84]:
person1 = person("박지민", 31)

In [85]:
print(type(person1))

<class '__main__.person'>

In [86]:
person1.walk()

박지민이 걸어가요

In [87]:
class NewPerson(person):
    pass

In [ ]:
person3 = NewPerson("정호석", 33)

In [91]:
person3.walk()

정호석이 걸어가요

In [92]:
import mymodule as mm

In [94]:
mm.my_add(1, 2)

3

### 결제시스템
신용카드, 포인트 결제

In [97]:
def pay_credit_payment(card_info, amount):
    """신용카드 결제 로직"""
    print(f"{card_info['card_number']}카드로 {amount}원 결제합니다.")
    print('결제 완료')

def pay_with_point(card_wallet, amount):
    if point_wallet['balance'] >= amount:
        point_wallet['balance'] -= amount
        print(f" 포인트 {amount}점을 사용해서 결제했습니다.")

    else:
        print("포인트가 부족합니다.")

In [102]:
credit_card = {
    'type' : 'credit_card',
    'card_number': '1234-5678-xxxx',
    'CVC': 123
}

my_points = {
    'type':"point_wallet",
    'balance': 50000
}

In [104]:
def payment(payment_method, amount):
    payment=payment_method['type']

    if payment_type == 'credit_card':
        pay_credit_payment(payment_method, amount)
    elif payment_type == 'point_wallet':
        pay_with_point(payment_method, amount)
    else:
        print("지원되지 않는 결제방식")

In [ ]:
payment(credit_card, 2500)
payment(my_points, 10000)
payment(my_points, 50000)

In [110]:
class PaymentMethod:
    def pay(self, amount):
        print(f"{amount}원 결제")

In [111]:
class CreditCard(PaymentMethod):
    def __init__(self, card_number, cvc):
        self.card_number = card_number
        self.cvc = cvc

    def pay(self, amount):
        print(f"{self.card_number}카드로 {amount}원 결제합니다.")
        # 서버 결제 요청
        print('결제 완료')

class Pointwallet(PaymentMethod):
    def __init__(self, balance):
        self.balance = balance
    
    def pay(self, amount):
        if self.balance >= amount:
            self.balance -= amount
            print(f"포인트 {amount}점을 사용해서 결제했습니다.")
        else:
            print("포인트가 부족합니다.")

In [113]:
def process_payment(payment_method, amount):
    payment_method.pay(amount)

card_obj = CreditCard("44444-4444-xxxxxx", 444) 
point_obj = Pointwallet(50000)

In [115]:
process_payment(card_obj, 1000)
process_payment(point_obj, 10000)
process_payment(point_obj, 50000)

44444-4444-xxxxxx카드로 1000원 결제합니다.
결제 완료
포인트 10000점을 사용해서 결제했습니다.
포인트가 부족합니다.

In [117]:
!pip install numpy

Collecting numpy
  Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ---------------------------------------- 60.9/60.9 kB 1.1 MB/s eta 0:00:00
Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl (13.1 MB)
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
   -- ------------------------------------- 0.7/13.1 MB 21.1 MB/s eta 0:00:01
   ------- -------------------------------- 2.3/13.1 MB 36.8 MB/s eta 0:00:01
   ----------------- ---------------------- 5.7/13.1 MB 45.7 MB/s eta 0:00:01
   ------------------------- -------------- 8.5/13.1 MB 49.2 MB/s eta 0:00:01
   ---------------------------------- ----- 11.3/13.1 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------- 13.1/13.1 MB 65.5 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.3.3

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [118]:
import numpy

In [119]:
!pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.13.5-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.8-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\user\appdata\roaming\python\python311\site-packages (from beautifulsoup4) (4.15.0)
Downloading beautifulsoup4-4.13.5-py3-none-any.whl (105 kB)
   ---------------------------------------- 0.0/105.1 kB ? eta -:--:--
   -------------------------------------- - 102.4/105.1 kB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 105.1/105.1 kB 3.0 MB/s eta 0:00:00
Downloading soupsieve-2.8-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.13.5 soupsieve-2.8

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [120]:
from bs4 import BeautifulSoup